In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("missing value").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/30 12:59:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/30 12:59:57 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/11/30 12:59:57 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
spark

In [8]:
 df_pyspark =  spark.read.csv("test2.csv",header=True , inferSchema=True)

In [9]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| age|Experience|Salary|
+-------+----+----------+------+
|  Vicky|  31|        10| 30000|
|    ram|  30|         8| 25000|
|   somu|  29|         4| 20000|
|   rock|  24|         3| 20000|
| Suresh|  21|         1| 15000|
|Shubham|  23|         2| 18000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [14]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| age|Experience|Salary|
+-------+----+----------+------+
|  Vicky|  31|        10| 30000|
|    ram|  30|         8| 25000|
|   somu|  29|         4| 20000|
|   rock|  24|         3| 20000|
| Suresh|  21|         1| 15000|
|Shubham|  23|         2| 18000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [17]:
## any = how
df_pyspark.na.drop(how='any',thresh=2).show()

+-------+----+----------+------+
|   Name| age|Experience|Salary|
+-------+----+----------+------+
|  Vicky|  31|        10| 30000|
|    ram|  30|         8| 25000|
|   somu|  29|         4| 20000|
|   rock|  24|         3| 20000|
| Suresh|  21|         1| 15000|
|Shubham|  23|         2| 18000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
+-------+----+----------+------+

In [18]:

## subset
df_pyspark.na.drop(how='any',subset=['Experience']).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Vicky| 31|        10| 30000|
|    ram| 30|         8| 25000|
|   somu| 29|         4| 20000|
|   rock| 24|         3| 20000|
| Suresh| 21|         1| 15000|
|Shubham| 23|         2| 18000|
|   null| 34|        10| 38000|
+-------+---+----------+------+

In [25]:
# filling missing value

df_pyspark.na.fill('Missing Values',['age','Name','Salary']).show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|         Vicky|  31|        10| 30000|
|           ram|  30|         8| 25000|
|          somu|  29|         4| 20000|
|          rock|  24|         3| 20000|
|        Suresh|  21|         1| 15000|
|       Shubham|  23|         2| 18000|
|        Mahesh|null|      null| 40000|
|Missing Values|  34|        10| 38000|
|Missing Values|  36|      null|  null|
+--------------+----+----------+------+

In [26]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| age|Experience|Salary|
+-------+----+----------+------+
|  Vicky|  31|        10| 30000|
|    ram|  30|         8| 25000|
|   somu|  29|         4| 20000|
|   rock|  24|         3| 20000|
| Suresh|  21|         1| 15000|
|Shubham|  23|         2| 18000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [28]:
from pyspark.ml.feature import Imputer

In [30]:
imputer = Imputer(
    inputCols = ['age','Experience','Salary'],
    outputCols = ["{}_imputed".format(c) for c in  ['age','Experience','Salary']]
).setStrategy('mean')

In [31]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|  Vicky|  31|        10| 30000|         31|                10|         30000|
|    ram|  30|         8| 25000|         30|                 8|         25000|
|   somu|  29|         4| 20000|         29|                 4|         20000|
|   rock|  24|         3| 20000|         24|                 3|         20000|
| Suresh|  21|         1| 15000|         21|                 1|         15000|
|Shubham|  23|         2| 18000|         23|                 2|         18000|
| Mahesh|null|      null| 40000|         28|                 5|         40000|
|   null|  34|        10| 38000|         34|                10|         38000|
|   null|  36|      null|  null|         36|                 5|         25750|
+-------+----+----------+------+-----------+------------------+--------------+