In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("dataframe").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/30 12:38:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/30 12:38:37 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
spark

In [14]:
# read dataset
df_pyspark = spark.read.option("header" , 'true').csv("test1.csv",inferSchema=True)

In [15]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [46]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  vicky| 31|        10| 30000|
|vignesh| 30|         8| 25000|
|    ram| 29|         4| 20000|
|   somu| 24|         3| 20000|
|  vijay| 21|         1| 15000|
|  surya| 23|         2| 18000|
+-------+---+----------+------+

In [18]:
df_pyspark.printSchema()
type(df_pyspark)

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [20]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  vicky| 31|        10| 30000|
|vignesh| 30|         8| 25000|
|    ram| 29|         4| 20000|
|   somu| 24|         3| 20000|
|  vijay| 21|         1| 15000|
|  surya| 23|         2| 18000|
+-------+---+----------+------+

In [22]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
|  vicky|
|vignesh|
|    ram|
|   somu|
|  vijay|
|  surya|
+-------+

In [25]:
df_pyspark.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|  vicky|        10|
|vignesh|         8|
|    ram|         4|
|   somu|         3|
|  vijay|         1|
|  surya|         2|
+-------+----------+

In [28]:
df_pyspark['Name']

Column<'Name'>

In [29]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [30]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, age: string, Experience: string, Salary: string]

In [31]:
df_pyspark.describe().show()

+-------+-----+------------------+-----------------+------------------+
|summary| Name|               age|       Experience|            Salary|
+-------+-----+------------------+-----------------+------------------+
|  count|    6|                 6|                6|                 6|
|   mean| null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev| null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|  ram|                21|                1|             15000|
|    max|vijay|                31|               10|             30000|
+-------+-----+------------------+-----------------+------------------+

In [47]:
## add columns
df_pyspark= df_pyspark.withColumn('Experience after 2 year',df_pyspark['Experience']+2)

In [48]:
df_pyspark.show()

+-------+---+----------+------+-----------------------+
|   Name|age|Experience|Salary|Experience after 2 year|
+-------+---+----------+------+-----------------------+
|  vicky| 31|        10| 30000|                     12|
|vignesh| 30|         8| 25000|                     10|
|    ram| 29|         4| 20000|                      6|
|   somu| 24|         3| 20000|                      5|
|  vijay| 21|         1| 15000|                      3|
|  surya| 23|         2| 18000|                      4|
+-------+---+----------+------+-----------------------+

In [49]:
### drop columns
df_pyspark =  df_pyspark.drop('Experience after 2 year')

In [50]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  vicky| 31|        10| 30000|
|vignesh| 30|         8| 25000|
|    ram| 29|         4| 20000|
|   somu| 24|         3| 20000|
|  vijay| 21|         1| 15000|
|  surya| 23|         2| 18000|
+-------+---+----------+------+

In [52]:
df_pyspark.withColumnRenamed("Name", 'Full Name').show()

+---------+---+----------+------+
|Full Name|age|Experience|Salary|
+---------+---+----------+------+
|    vicky| 31|        10| 30000|
|  vignesh| 30|         8| 25000|
|      ram| 29|         4| 20000|
|     somu| 24|         3| 20000|
|    vijay| 21|         1| 15000|
|    surya| 23|         2| 18000|
+---------+---+----------+------+