In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("filter").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/30 13:34:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/30 13:34:07 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/11/30 13:34:07 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/11/30 13:34:07 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [2]:
spark

In [3]:
df_pyspark =spark.read.csv("test1.csv",header=True,inferSchema=True)

In [4]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  vicky| 31|        10| 30000|
|vignesh| 30|         8| 25000|
|    ram| 29|         4| 20000|
|   somu| 24|         3| 20000|
|  vijay| 21|         1| 15000|
|  surya| 23|         2| 18000|
+-------+---+----------+------+

In [5]:
### filter
##salary of people <= 20000

df_pyspark.filter("Salary<=20000").show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|  ram| 29|         4| 20000|
| somu| 24|         3| 20000|
|vijay| 21|         1| 15000|
|surya| 23|         2| 18000|
+-----+---+----------+------+

In [6]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-----+---+
| Name|age|
+-----+---+
|  ram| 29|
| somu| 24|
|vijay| 21|
|surya| 23|
+-----+---+

In [11]:
df_pyspark.filter((df_pyspark["Salary"]<=20000) &
                (df_pyspark["Salary"]>=16000)).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|  ram| 29|         4| 20000|
| somu| 24|         3| 20000|
|surya| 23|         2| 18000|
+-----+---+----------+------+

In [12]:
df_pyspark.filter(~(df_pyspark["Salary"]<=20000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  vicky| 31|        10| 30000|
|vignesh| 30|         8| 25000|
+-------+---+----------+------+