In [13]:
from pyspark.sql import SparkSession
spark  = SparkSession.builder.appName('groupby').getOrCreate()

In [14]:
spark

In [15]:
df_pyspark= spark.read.csv("test3.csv",header=True,inferSchema=True)

In [16]:
df_pyspark.show()

+-------+------------+------+
|   Name| Departments|salary|
+-------+------------+------+
|  vicky|Data Science| 10000|
|  vicky|         IOT|  5000|
| Mahesh|    Big Data|  4000|
|  vicky|    Big Data|  4000|
| Mahesh|Data Science|  3000|
|vignesh|Data Science| 20000|
|vignesh|         IOT| 10000|
|vignesh|    Big Data|  5000|
|   somu|Data Science| 10000|
|   somu|    Big Data|  2000|
+-------+------------+------+

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [18]:
# groupby

df_pyspark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(salary)|
+-------+-----------+
|   somu|      12000|
|  vicky|      19000|
|vignesh|      35000|
| Mahesh|       7000|
+-------+-----------+

In [27]:
# which person getting  max salary

df_pyspark.groupBy('Name').max().show()

+-------+-----------+
|   Name|max(salary)|
+-------+-----------+
|   somu|      10000|
|  vicky|      10000|
|vignesh|      20000|
| Mahesh|       4000|
+-------+-----------+

In [26]:
# which dept give max salary

df_pyspark.groupBy("Departments").sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [21]:
# which dept give maen salary

df_pyspark.groupBy("Departments").mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [22]:
# which dept give max salary

df_pyspark.groupBy("Departments").count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [25]:
 df_pyspark.agg({'Salary' : 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [28]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [29]:
df_pyspark.groupBy("Name").min().show()

+-------+-----------+
|   Name|min(salary)|
+-------+-----------+
|   somu|       2000|
|  vicky|       4000|
|vignesh|       5000|
| Mahesh|       3000|
+-------+-----------+

In [30]:
df_pyspark.groupBy("Name").avg().show()

+-------+------------------+
|   Name|       avg(salary)|
+-------+------------------+
|   somu|            6000.0|
|  vicky| 6333.333333333333|
|vignesh|11666.666666666666|
| Mahesh|            3500.0|
+-------+------------------+